<% if (errors.length) { %>
<div class="alert alert-danger" role="alert">
    <% errors.forEach((error) => { %>
    <div><%= error %></div>
    <% }) %>
</div>
 <% } %>

<form method="POST" action="/projects/join">
    <h2>Join project</h2>

    <div class="form-group d-flex flex-column">
        <label for="project">Project</label>
        <select name="project" id="project" class="form-control" required>
            <option selected value="">Choose project</option>
            <% data.projects.forEach((project) => { %>
            <option value="<%= project._id %>"><%= project.name %></option>
            <% }) %>
        </select>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary w-25">Join</button>
    </div>
</form>