<!-- Create Student Modal -->
<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createStudentForm">
                    <select id="studentCompany" class="custom-select custom-select-lg mb-3 companiesSelect">
                        <option selected>Choose company</option>
                    </select>

                    <div class="form-group">
                        <label for="studentNameInput">Name</label>
                        <input id="studentNameInput" type="text" name="name" class="form-control" placeholder="type your name">
                    </div>

                    <div class="form-group">
                        <label for="studentSurnameInput">Surname</label>
                        <input id="studentSurnameInput" type="text" name="surname" class="form-control" placeholder="type your surname">
                    </div>

                    <div class="form-group d-flex flex-column">
                        <label for="studentIsAdminInput">Is Admin</label>
                        <input id="studentIsAdminInput" type="checkbox" name="isAdmin">
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                       <button type="submit" class="btn btn-secondary w-25">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Create Company Modal -->
<div class="modal fade" id="createCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
                <form id="createCompanyForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="companyTitleInput">Title</label>
                        <input id="companyTitleInput" type="text" name="name" class="form-control" placeholder="type company title">
                    </div>

                    <div class="form-group">
                        <label for="companyDescriptionInput">Description</label>
                        <textarea id="companyDescriptionInput" type="text" name="description" class="form-control" placeholder="type company description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="companyAddressInput">Address</label>
                        <input id="companyAddressInput" type="text" name="address" class="form-control" placeholder="type company address">
                    </div>

                    <div class="form-groug d-flex flex-column">
                        <label for="companyLogoInput">Logo</label>
                        <input id="companyLogoInput" type="file" name="logo">
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-secondary w-25">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="my-5 d-flex align-items-center justify-content-center">
    <!-- Button trigger create student modal -->
    <button id="createStudentButton" type="button" class="btn btn-primary mr-5" data-toggle="modal" data-target="#createStudentModal">
        Add Student
    </button>

    <!-- Button trigger modal -->
    <button id="createCompanyButton" type="button" class="btn btn-primary mr-5" data-toggle="modal" data-target="#createCompanyModal">
        Add Company
    </button>
</div>

<select id="studentsTableCompanySelect" class="custom-select custom-select-lg mb-3 companiesSelect">
    <option selected>Choose company</option>
</select>

<table class="table" id="companyStudentsTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Admin</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="companyStudentsTableBody"></tbody>
</table>

<!-- CUSTOM SCRIPTS -->
<script src="./js/company/select.js"></script>
<script src="./js/company/create.js"></script>
<script src="./js/students/create.js"></script>
<script src="./js/students/table.js"></script>