<div class="card">
  <div class="card-body">
     <% if (data.user) { %>
       <div class="d-flex justify-content-between">
          <span>Email:</span>
          <span><%= data.user.email %></span>
       </div>
       <div class="d-flex justify-content-between">
          <span>FirstName:</span>
          <span><%= data.user.name %></span>
       </div>
       <div class="d-flex justify-content-between">
          <span>LastName:</span>
          <span><%= data.user.surname %></span>
       </div>
       <div class="d-flex justify-content-between">
          <span>Company:</span>
          <span>
             <a href="/profile/company/details" title="company details" role="navigation">
               <%= data.user?.company?.title || '' %>
            </a>
         </span>
       </div>
     <% } %>
  </div>
</div>